@import url("../css/fonts.css");

:root {
    --nero: #0d0d0d;
    --bianco: #fefaf1;
}

/* Header - Navigazione */
.chi-sono-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px;
}

.chi-sono-header nav {
    display: flex;
    align-items: center;
}

.container-wrapper {
    max-width: 1440px;
    margin: 0 auto;
	padding: 0 15px; /* Padding laterale */
}

.about-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0 30px;
}

.about-title {
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-title .light {
    font-family: 'Times Now', serif;
    font-weight: 300;
}

.about-title .bold {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.about-content {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px; /* Corretto */
    align-items: center;
    flex-wrap: wrap;
}

.about-image img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
    padding-left: 40px;
}

.about-text p:first-of-type {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--nero);
}

/* Stile per la classe about-paragraph */
.about-paragraph {
    display: block;
    clear: both;
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 300;
    text-transform: none;
}

.about-title, .about-image, .about-text {
    will-change: opacity, transform;
}

/* Specifiche del footer */
footer {
    background-color: var(--bianco);
    color: var(--nero);
    padding: 20px 0;
}

.footer-line {
    border-top: 2px solid var(--nero);
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 0;
}

.footer-content a {
    color: var(--nero);
    text-decoration: none;
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/* Nascondi il menu mobile per impostazione predefinita */
.mobile-menu-toggle {
    display: none;
}


/* Mobile Styles (max-width: 768px) */
@media (max-width: 768px) {
    /* Header */
    .mobile-menu-toggle {
        display: block; /* Mostra il pulsante per il menu mobile */
        font-size: 1.2rem;
        color: var(--nero);
        cursor: pointer;
    }

    .about-title {
        font-size: 3rem; /* Adegua la dimensione del titolo */
        line-height: 1.2;
    }

    .about-content {
        display: flex;
        flex-direction: column; /* Disposizione verticale su mobile */
        gap: 20px;
    }

    .about-image img {
        max-width: 100%; /* L'immagine occupa la larghezza disponibile */
        margin-bottom: 15px; /* Aggiungi spazio tra l'immagine e la descrizione */
    }

    .about-text {
        text-align: left;
        margin-bottom: 20px; /* Aggiunge un po' di spazio sotto la descrizione */
		padding-left: 0; /* Rimuove il padding a sinistra */
    }
}

/* Tablet Styles (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .about-content {
        display: flex;
        flex-direction: row; /* Disposizione orizzontale su tablet */
        gap: 20px; /* Spazio tra immagine e testo */
        align-items: center; /* Allinea verticalmente immagine e testo */
        padding-top: 0; /* Elimina spazio extra sopra */
    }

    .about-image {
        flex: 1; /* L'immagine occupa metà dello spazio */
    }

    .about-text {
        flex: 1; /* Il testo occupa l'altra metà */
        padding: 0 15px; /* Allinea il testo ai margini */
    }
}

/* Rimuovi l'effetto di scroll ritardato su mobile e tablet */
@media (max-width: 1024px) {

}