/* Importa i font e le variabili dal CSS esistente */
@import url("../css/fonts.css");

/* Aggiungi eventuali nuove variabili se necessario */
:root {
    /* Le variabili esistenti sono già definite nel tuo styles.css */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  {
    height: 100%;
	
}

.container-wrapper {
    max-width: 1440px;
    margin: 0 auto;
	padding: 0 15px;
}

/* Stile per il contenuto del titolo dei servizi */
.servizi-header-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--nero);
    padding: 20px;
    padding: 100px 0 30px;
}

.servizi-title {
    font-size: 6rem;
    margin-bottom: 20px;
}

.servizi-title .light {
    font-family: 'Times Now', serif;
    font-weight: 300;
}

.servizi-title .bold {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.servizi-description {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
	max-width: 550px;
}

/* Menu overlay per mobile */
.mobile-menu-overlay {
    display: none;
}

/* Sezione Servizi */

/* Sezione Centrale per i Servizi */
.servizi-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 20px 0;
    transition: all 0.3s ease;
	margin: 0 auto; /* Centra la griglia */
	max-width: 1440px;
	margin-bottom: 70px;
}

.servizio-card {
    background-color: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Aggiunto il background-color */
    cursor: pointer;
    overflow: hidden;
	border: 2px solid var(--nero);
}

.servizio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Colori per le card */
.servizio-card.servizio-1 {
    --hover-color: #DFFE91; /* Verde acido */
}

.servizio-card.servizio-2 {
    --hover-color: #FFB3BA; /* Corallo */
}

.servizio-card.servizio-3 {
    --hover-color: #95D3FF; /* Azzurro */
}

.servizio-card.servizio-4 {
    --hover-color: #F2B3D6; /* Rosa */
}

.servizio-card.servizio-5 {
    --hover-color: #B697F8; /* Lilla */
}

/* Definizione di hover per ogni servizio */
.servizio-card.servizio-1:hover {
    background-color: var(--hover-color); /* Cambia il colore di sfondo */
}

.servizio-card.servizio-2:hover {
    background-color: var(--hover-color) !important; /* Cambia il colore di sfondo */
}

.servizio-card.servizio-3:hover {
    background-color: var(--hover-color); /* Cambia il colore di sfondo */
}

.servizio-card.servizio-4:hover {
    background-color: var(--hover-color); /* Cambia il colore di sfondo */
}

.servizio-card.servizio-5:hover {
    background-color: var(--hover-color); /* Cambia il colore di sfondo */
}


.servizio-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
	color: var(--bianco);
}

.servizio-card p {
    margin-bottom: 10px;
	color: var(--bianco);
}

/* Cambia il colore di testo su hover */
.servizio-card:hover h2,
.servizio-card:hover p {
    color: #0d0d0d; /* Cambia il colore del testo a nero */
}

/* Espansione al clic */
.servizio-dettagli {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
}

.modal-overlay {
  display: none; /* Nascosto di default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0; /* Inizia con opacità 0 per animazione */
  transition: opacity 0.3s ease-in-out; /* Transizione di entrata e uscita */
}

.modal-overlay.show {
  display: flex; /* Mostra il modal */
  opacity: 1; /* Animazione di visibilità */
}

.modal-content {
  background: var(--hover-color); /* Colore di sfondo variabile */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  color: #0d0d0d;
  transform: scale(0.5); /* Modal ridotto all'inizio */
  transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Animazione del colore */
}

.modal-content.show {
  transform: scale(1); /* Si espande a dimensione piena */
	border: 2px solid var(--nero);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.modal-body {
  margin-top: 20px;
}

.modal-body p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.servizi-title, .servizi-description, .servizio-card {
    visibility: visible; /* Assicura che la visibilità rimanga */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.servizio-card.expanded .servizio-dettagli {
    display: block;
    animation: fadeIn 0.5s ease;
}

/* Margine per l'ultimo box */
.servizio-card:last-of-type {
    margin-bottom: 50px; /* Aggiungi margine sotto l'ultimo box */
}

/* Quando l'animazione termina, gli elementi rimangono visibili */
.servizi-title.show, .servizi-description.show, .servizio-card.show {
    opacity: 1;
    transform: translateY(0);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Bento Layout */

.servizio-card:nth-child(1) {
    grid-column: span 7 /* Occupa metà della larghezza */
}

.servizio-card:nth-child(2) {
    grid-column: span 5; /* Occupa 5 colonne */
}

.servizio-card:nth-child(3) {
    grid-column: span 7; /* Occupa 7 colonne */
}

.servizio-card:nth-child(4) {
    grid-column: span 5; /* Occupa 5 colonne */
}

/* Servizio 5 occuperà l'intera larghezza */
.servizio-card:nth-child(5) {
    grid-column: span 12; /* Occupa tutta la larghezza in fondo */
}

/*Links*/
.servizio-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-link {
    position: relative;
    display: inline-block;
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--nero); /* Colore del testo, personalizzabile */
    font-size: 1rem;
    cursor: pointer;
}

/* Effetto sottolineatura */
.contact-link:before,
.contact-link:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
}

.contact-link:before {
    background: rgba(254, 250, 241, 0.6); /* Colore della linea di base */
    opacity: 0.9;
}

.contact-link:after {
    background: var(--nero); /* Colore della sottolineatura al passaggio del mouse */
    transform: scaleX(0); /* Nasconde la linea inizialmente */
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.25, 1);
}

.contact-link:hover:after {
    transform: scaleX(1); /* Espande la linea */
}

/* Stile responsive */
@media (max-width: 768px) {
    .servizio-links {
        flex-direction: column;
        align-items: center;
    }

    .contact-link {
        text-decoration: underline; /* Semplice sottolineatura su mobile */
        color: inherit; /* Mantiene il colore del testo */
    }

    .contact-link:before,
    .contact-link:after {
        display: none; /* Disabilita l'effetto su mobile */
    }
}


/* Footer */
footer {
    background-color: var(--bianco);
    color: var(--nero);
    padding: 20px 0;
}

.footer-line {
    border-top: 2px solid var(--nero);
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 0;
}

.footer-content a {
    color: var(--nero);
    text-decoration: none;
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/* Stili mobile */


/* Mobile Styles (max-width: 768px) */
@media (max-width: 768px) {
	
	.custom-cursor {
		display: none;
	}

    /* Header */
    .servizi-header-content {
        height: auto;
    }

    .servizi-title {
        font-size: 3rem;
        line-height: 1.2;
    }

    .servizi-description {
        font-size: 0.9rem;
        padding: 10px 0;
		margin-bottom: 15px; /* Riduce lo spazio tra sottotitolo e box */
    }

    /* Griglia Servizi: una colonna */
    .servizi-grid {
        display: flex;
        flex-direction: column; /* Disposizione verticale: i box appaiono uno sotto l'altro */
        gap: 20px; /* Spazio tra i box */
        margin: 0 auto;
    }

    .servizio-card {
        width: 100%; /* I box occupano l'intera larghezza del container */
        margin-bottom: 20px; /* Spaziatura tra i box */
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-line {
        width: 90%;
    }
	
	
	/* Stili per il menu mobile */
.mobile-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%); /* Mantieni l'overlay nascosto */
        width: 100%;
        height: 100%;
        background-color: #0d0d0d;
        color: #fefaf1;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Allinea il contenuto all'inizio */
        padding-top: 185px; /* Aggiunge uno spazio sopra per evitare che il testo tocchi il bordo */
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* Curva di easing */
}

    .mobile-menu-overlay.open {
        transform: translateX(0); /* Mostra il menu */
    }

    .mobile-menu-overlay ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .mobile-menu-overlay li {
        margin: 20px 0;
    }

    .mobile-menu-overlay a {
        text-decoration: none;
        color: var(--bianco);
        font-size: 2.5rem; /* Dimensione adeguata per schermi piccoli */
        text-transform: uppercase;
    }

    /* Pulsante di chiusura del menu mobile */
    .mobile-menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2.5rem;
        cursor: pointer;
        color: var(--bianco);
    }
}

/* Modal adattato per mobile e tablet */
@media (max-width: 1024px) {
  .modal-content {
    width: 90%; /* Aumenta la larghezza su mobile e tablet */
    height: 100%; /* Limita l'altezza per evitare tagli */
    overflow-y: auto; /* Permette di scorrere il contenuto */
    transform: none; /* Rimuove l'effetto di scala */
  }

  .modal-overlay {
    align-items: flex-start; /* Allinea il modal in alto */
	  overflow-y: auto; /* Permette di scorrere l'overlay su mobile */
    padding-top: 20px; /* Spazio per migliorare il layout */
  }
}

/* Tablet Styles (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
	
	.custom-cursor {
		display: none;
	}
	
	
	.container-wrapper {
        max-width: 1440px; /* Valore corretto */
        padding: 0 30px; /* Margini laterali per contenuti */
        margin: 0 auto; /* Centratura */
    }
    /* Header */
    .servizi-title {
        font-size: 4rem;
        line-height: 1.15;
    }

    .servizi-description {
        font-size: 1rem;
        max-width: 600px;
    }

    /* Griglia Servizi: due colonne */
    .servizi-grid {
        display: flex;
        flex-wrap: wrap; /* Consente ai box di andare a capo */
        gap: 20px; /* Spazio tra i box */
        padding: 0 30px; /* Margini laterali per evitare che tocchi i bordi */
        justify-content: space-between; /* Spaziatura uniforme tra i box */
    }
	
	.servizio-card {
		lex: 1 1 calc(50% - 20px); /* Due box per riga, con gap */
        margin-bottom: 20px; /* Spaziatura tra i box */
        width: calc(50% - 20px); /* Larghezza per garantire due box per riga */
    }


    /* Footer */
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-line {
        width: 100%;
    }
}
