@import url("../css/fonts.css");

:root {
    --nero: #0d0d0d;
    --bianco: #fefaf1;
}


/* Header - Navigazione */
.contatti-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px;
}

.contatti-header nav {
    display: flex;
    align-items: center;
}

.container-wrapper {
    max-width: 1440px;
    margin: 0 auto;
	padding: 0 15px; /* Padding laterale */
}

.contatti-header-content {
    background-color: var(--bianco); /* Sfondo corretto */
    padding: 100px 0 30px;
    text-align: left;
}

.contatti-title {
    font-size: 6rem;
    text-transform: capitalize; /* Solo la prima lettera maiuscola */
}

.contatti-title .light {
    font-family: 'Times Now', serif;
    font-weight: 300;
}

.contatti-title .bold {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.contatti-description {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: left;
}

.contact-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Due colonne uguali */
    gap: 40px; /* Spaziatura uniforme tra i box */
    padding: 30px 0px 100px;
    margin-top: 20px;
}

.contact-box {
    background-color: var(--nero);
    border: 2px solid var(--nero);
    padding: 40px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    color: var(--bianco);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Allinea i contenuti in alto */
    align-items: flex-start;      /* Allinea i contenuti a sinistra */
    height: 100%;
}

.contact-box h2 {
    font-size: 1.5rem;
	margin-bottom: 10px;
	align-self: flex-start;
}

.contact-box a {
    color: var(--bianco);
    text-decoration: none;
}

/* Applicare l'animazione della sottolineatura solo ai link nei box contatti */
.contact-box a {
  position: relative;
  display: inline-block;
  text-decoration: none; /* Rimuove la sottolineatura predefinita */
  color: inherit;
  cursor: pointer;	
}

.contact-box a:before,
.contact-box a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
}

.contact-box a:before {
  background: rgba(254, 250, 241, 0.6); /* Colore della linea di base */
  opacity: 0.9;
}

.contact-box a:after {
  background: #0d0d0d; /* Colore della sottolineatura al passaggio del mouse */
  transform: scaleX(0); /* Nasconde la linea inizialmente */
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.25, 1);
}

.contact-box a:hover:after {
  transform: scaleX(1); /* Espande la linea */
}

/* Colori di hover specifici */
.contact-box.email:hover {
    background-color: #B697F8;
}

.contact-box.call:hover {
    background-color: #FFB3BA;
}

.contact-box.form:hover {
    background-color: #95D3FF;
}

.contact-box:hover {
    transform: translateY(-10px);
    color: var(--nero); /* Testo scuro su hover */
}

.contact-box form input, .contact-box form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    color: var(--bianco);
    border: 1px solid #555;
}

.contact-box form button {
    padding: 10px 20px;
    background-color: var(--bianco);
    color: var(--nero);
    border: none;
    cursor: pointer;
}

.contact-box p {
    font-size: 1.2rem;
    line-height: 1.5;
	align-self: flex-start;
}

/* Specifiche del footer */
footer {
    background-color: var(--bianco);
    color: var(--nero);
    padding: 20px 0;
}

.footer-line {
    border-top: 2px solid var(--nero);
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 0;
}

.footer-content a {
    color: var(--nero);
    text-decoration: none;
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


/* Mobile Menu Toggle */
.mobile-menu-toggle {
    display: none;
}

/* Mobile Styles (max-width: 768px) */
@media (max-width: 768px) {
    /* Header */

	.custom-cursor {
		display: none;
	}
	
	 .contatti-header {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Allinea verticalmente logo e menu */
    }
	
	.contatti-title {
        font-size: 3rem;
        line-height: 1.2;
    }
	
	.contatti-description {
		font-size: 0.9rem;
	}

    .mobile-menu-toggle {
        display: block; /* Mostra il pulsante per il menu mobile */
        font-size: 1.2rem;
        color: var(--nero);
        cursor: pointer;
    }

    /* Griglia dei box: una colonna */
    .contact-boxes {
        flex-direction: column; /* Disposizione verticale */
		justify-content: center;
		align-items: center;
        gap: 20px; /* Spazio tra i box */
    }

    .contact-box {
        width: 100%; /* I box occupano l'intera larghezza */
        margin-bottom: 20px;
    }
	
.contact-box a {
        text-decoration: underline; /* Mantiene il link sottolineato per un aspetto semplice */
        color: inherit; /* Mantiene il colore del testo */
    }

    .contact-box a:before,
    .contact-box a:after {
        display: none; /* Nasconde gli pseudo-elementi per evitare qualsiasi effetto hover */
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 15px;
    }

    .footer-line {
        width: 100%;
		margin: 0 auto;
    }

   	/* Stili per il menu mobile */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%); /* Mantieni l'overlay nascosto */
    width: 100%; /* Assicurati che copra il 100% della viewport */
    height: 100%;
    background-color: #0d0d0d;
    color: #fefaf1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* Aggiungi una curva di easing più fluida */
}

    .mobile-menu-overlay.open {
        transform: translateX(0); /* Mostra il menu */
    }

    .mobile-menu-overlay ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .mobile-menu-overlay li {
        margin: 20px 0;
    }

    .mobile-menu-overlay a {
        text-decoration: none;
        color: var(--bianco);
        font-size: 2.5rem; /* Dimensione adeguata per schermi piccoli */
        text-transform: uppercase;
    }

    /* Pulsante di chiusura del menu mobile */
    .mobile-menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2.5rem;
        cursor: pointer;
        color: var(--bianco);
    }
}

/* Tablet Styles (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
	
	.custom-cursor {
		display: none;
	}
	
}

