/* Importa i font e le variabili dal CSS esistente */
@import url("../css/fonts.css");

/* Aggiungi eventuali nuove variabili se necessario */
:root {
    /* Le variabili esistenti sono già definite nel tuo styles.css */
}

html, body, section.horizontal {
    margin: 0;
    padding: 0;
    height: 100%;
	overflow: hidden;
}

body { 
  margin: 0;
  padding: 0;
}

.container-wrapper {
    max-width: 1440px;
    margin: 0 auto;
	padding: 0 15px;
}

/* Stile per il contenuto del titolo del caso studio */
.case-study-header-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--nero);
    padding: 20px;
    padding: 100px 0 30px;
}

.case-study-title {
    font-size: 6rem;
    margin-bottom: 20px;
}

.case-study-title .light {
    font-family: 'Times Now', serif;
    font-weight: 300;
}

.case-study-title .bold {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.case-study-description {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
	max-width: 500px;
	white-space: normal; /* Permetti il ritorno a capo */
    word-wrap: break-word; /* Gestisce le parole lunghe */
    overflow: visible; /* Assicura che il testo non venga tagliato */
}



/* Menu overlay per mobile */
.mobile-menu-overlay {
    display: none;
}

/* Sezione Contenuto */

body#main-scrollbar {
    width: auto;
    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 50px 0 0 0px;
}

p {
    margin: 0;
    padding: 50px 0 50px 0px;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

section:nth-of-type(odd) {
    background-color: #fefaf1;
}

section:nth-of-type(even) {
    background-color: #fefaf1;
}

section.horizontal {
    overflow-x: hidden;
	padding-top: 50px;
	margin-top: 100px;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 70vh;
    padding-left: max(calc((87vw - 1440px) / 2), 15px);
}

section.horizontal .item {
    position: relative;
    padding: 50px 60px;
    flex: 0 0 550px;
    height: auto;
    display: block;
    align-items: center;
    line-height: 1.7;
    user-select: none;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;
}



/* Gestione dei tag di formattazione */
section.horizontal .item span, 
section.horizontal .item b {
    display: inline; /* Mantiene tutto nella stessa linea */
    font-weight: 500;
    margin: 0;
    padding: 0;
}

section.horizontal .item i {
    font-size: inherit; /* Mantieni la stessa dimensione del testo circostante */
    font-style: italic; /* Imposta solo lo stile corsivo */
    font-weight: normal; /* Assicura che non venga applicato il grassetto */
    line-height: inherit; /* Uniforma la linea con il testo circostante */
    color: inherit; /* Assicura che il colore rimanga lo stesso del contesto */
    display: inline; /* Mantiene il comportamento inline come gli altri */
}

/* Assicura la visualizzazione corretta dei <br> */
section.horizontal .item br {
    display: block; /* Mantiene la funzione di andare a capo */
    line-height: 1.2; /* Spaziatura regolabile */
}

section.horizontal .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    font-weight: bold;    
    z-index: -1;
    transform: translate(-30px, -50px);
    line-height: 1;
}

section.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
}

section.horizontal .animation-wrap.to-left {
    counter-reset: item 11;
    float: right; 
}

section.horizontal .animation-wrap.to-right .item:before {
    counter-increment: item;
    content: counter(item);
}

section.horizontal .animation-wrap.to-left .item:before {
    counter-increment: item -1;
    content: counter(item);
}

/* Stile per il Modale */
body.modal-active {
  overflow: hidden; /* Disabilita lo scroll quando il modale è attivo */
}

.clickable-item {
  cursor: pointer; /* Mostra il cursore "manina" */
  transition: transform 0.3s ease;
}

.clickable-item:hover {
  transform: scale(1.05); /* Effetto di zoom su hover */
}

/* Stile principale per il modale */
.media-modal {
  display: none; /* Nascosto di default */
  position: fixed; /* Posizionato rispetto alla finestra */
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra il modale rispetto alla finestra */
  background-color: rgba(0, 0, 0, 0.8); /* Sfondo semi-trasparente */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  width: auto; /* Dimensioni adattive */
  height: auto;
  padding: 20px; /* Spazio interno */
  box-sizing: border-box; /* Include padding nelle dimensioni */
  transition: opacity 0.3s ease; /* Aggiungi una transizione */
	overflow: hidden; /* Nascondi overflow */
}

/* Bottone di Chiusura */
.media-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fefaf1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Stile comune per l'Immagine e il Video */
.modal-content, .modal-video-content {
  max-width: 95vw; /* Limita la larghezza dell'immagine o video */
  max-height: 95vh; /* Limita l'altezza dell'immagine o video */
  margin: auto;
}

/* Stile per l'Immagine */
.modal-content {
  width: auto;
  height: auto;
  display: block;
}

/* Stile per il Video */
.modal-video-content {
  display: none; /* Nascosto di default */
}

.modal-video-content video {
  width: 100%; /* Mantieni le proporzioni */
  height: auto; /* Mantieni le proporzioni */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantieni le proporzioni */
}

/* Transizione */
.media-modal, .media-modal-close {
  transition: all 0.3s ease;
}

/* Animazione per l'apertura */
.media-modal-show {
  display: flex; /* Visualizza il modale come flexbox */
  opacity: 1; /* Rende visibile il modale */
}


/* Footer */
footer {
    background-color: var(--bianco);
    color: var(--nero);
    padding: 20px 0;
}

.footer-line {
    border-top: 2px solid var(--nero);
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 0;
}

.footer-content a {
    color: var(--nero);
    text-decoration: none;
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/* Mobile Styles (max-width: 768px) */
@media (max-width: 768px) {
    /* Header */
    .case-study-title {
        font-size: 3rem; /* Dimensioni del titolo ridotte come in contatti */
        line-height: 1.2;
    }

    .case-study-description {
        font-size: 0.9rem; /* Dimensione del testo come in contatti */
        padding-bottom: 20px;
		white-space: normal; /* Permetti il ritorno a capo */
    	word-wrap: break-word; /* Gestisce le parole lunghe */
    	overflow: visible; /* Assicura che il testo non venga tagliato */
    }
	
	.modal-video-content video {
  width: 100%; /* Mantiene le proporzioni */
  height: auto; /* Mantiene le proporzioni */
  max-width: 90vw; /* Limita la larghezza per evitare che esca dallo schermo */
  max-height: 90vh; /* Limita l'altezza per evitare che esca dallo schermo */
  object-fit: contain; /* Mantiene le proporzioni */
}
	
	  .media-modal-close {
    top: 20px; /* Posiziona la chiusura più in alto */
    right: 20px; /* Posiziona la chiusura vicino al bordo destro */
    font-size: 35px; /* Ridimensiona la chiusura per essere visibile */
		  z-index: 10001; /* Un valore molto alto per garantire che sia visibile */
  }

    /* Menu Mobile */
    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--nero);
        color: var(--bianco);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 185px; /* Allinea le voci del menu più in alto */
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .mobile-menu-overlay ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .mobile-menu-overlay li {
        margin: 20px 0;
    }

    .mobile-menu-overlay a {
        text-decoration: none;
        color: var(--bianco);
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    /* Contenuto Sezione Centrale su Mobile */
   section.horizontal {
        display: flex;
        flex-direction: column; /* Disposizione verticale */
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto; /* Scorrimento verticale abilitato */
        overflow-x: hidden; /* Disabilita lo scorrimento orizzontale */
    }

    section.horizontal .pin-wrap,
    section.horizontal .animation-wrap {
        display: block !important;
        height: auto !important;
        padding-left: 15px !important; /* Aggiungi padding laterale */
        padding-right: 15px !important;
    }

    section.horizontal .item {
        width: 100% !important;
        margin-bottom: 20px; /* Spazio tra i blocchi */
        font-size: 1rem !important;
        padding: 20px 0px; /* Riduce il padding */
        flex: none; /* Disattiva il comportamento di flex per garantire una disposizione verticale */
		border-right: none;
    }
	
	 /* Ridimensionamento delle sezioni numeriche */
    section.horizontal .item:before {
        font-size: 80px;
        transform: translate(-15px, -30px); 
    }

	
    /* Footer */
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-line {
        width: 100%;
        margin: 0 auto;
    }
}

/* Tablet Styles (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Contenuto Sezione Centrale su Tablet */
    section.horizontal {
        display: flex;
        flex-direction: column; /* Imposta la disposizione in colonna */
        overflow-y: auto; /* Abilita lo scorrimento verticale */
        overflow-x: hidden;
    }

    section.horizontal .pin-wrap,
    section.horizontal .animation-wrap {
        display: block !important;
        height: auto;
    }

    section.horizontal .item {
        padding: 20px 0;
        width: 100% !important;
        height: auto;
        margin-bottom: 20px;
    }


    /* Stile Testi su Tablet */
    .case-study-title {
        font-size: 4rem;
    }
	
	.case-study-header-content {
		height: auto;
	}

    .case-study-description {
        font-size: 1rem;
        padding-bottom: 20px;
    }
	

}

